{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}

{% block content %}
    <h1>Projects</h1>

    <div class="project-entry">
        <h2>Samira's Personal Web Application</h2>
        <p>
            Created a web application as a part of my Module 1 project for Modern Software Concepts in Python course in my graduate
            studies at Johns Hopkins University. This project is built using Flask and demonstrates my understanding of
            full-stack web development, project structuring, templating, and deploying a personal portfolio site.
            The site includes a home (About) page, contact page, and project page where I showcase this project.
        </p>
        <p>
            You can view the source code on GitHub:
            <a href="https://github.com/samiraahmed99/jhu_software_concepts/tree/main/Module_1" target="_blank">Samira's Personal Web Application</a>
        </p>
    </div>
{% endblock content %}