<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grad School Cafe Data Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Analysis</h1>
    <div class="result">
        <h3>How many entries for Fall 2025?</h3>
        <p>Answer: Applicant count: {{ fall_2025_count }}</p>

        <h3>What percentage of entries are from International students (not American or Other)?</h3>
        <p>Answer: Percent International: {{ percent_international }}%</p>

        <h3>What is the average GPA, GRE, GRE V, GRE AW of applicants who provided these metrics?</h3>
        <p>Answer: GPA: {{ averages[0] }}, GRE: {{ averages[1] }}, GRE V: {{ averages[2] }}, GRE AW: {{ averages[3] }}</p>

        <h3>What is the average GPA of American students in Fall 2025?</h3>
        <p>Answer: Average GPA American: {{ avg_gpa_american }}</p>

        <h3>What percent of entries for Fall 2025 are Acceptances?</h3>
        <p>Answer: Acceptance percent: {{ percent_accept }}%</p>

        <h3>What is the average GPA of applicants who applied for Fall 2025 and were accepted?</h3>
        <p>Answer: Average GPA Acceptance: {{ avg_gpa_accept }}</p>

        <h3>How many entries are from applicants who applied to JHU for Masters Degrees in Computer Science?</h3>
        <p>Answer: JHU Masters Computer Science count: {{ jhu_cs_count }}</p>
    </div>
</body>
</html>

